
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scribble {
    display: block;
    background: rgb(210, 179, 235);
    position: fixed;
    left: 0;
    top: 0;
}

body {
    overflow: hidden;
    background-color: rgb(198, 178, 230);
}

.img
 {
    position: fixed;
    top: 240px;
    padding: 10px;
    border-width:1em;
}

.button {
    position: fixed;
    padding: 10px;
    right: 0;
    top: 0;
}

.button button {
    width: 40px;
    height: 40px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 10%;
    outline: inherit;
    border: none;
    color: rgb(167, 61, 61);
}

.button #clear {
    background-color: #d18585;
    
}

.button #download {
    background-color: rgb(214, 167, 36);
}

.button button img {
    width: 1.2em;
    height: 1.2em;
    transition: all 0.3s;
    margin: 0 5px;
}

img.active {
    fill: rgb(48, 139, 170);
    transform: scale(1.2);
}

.img {
    right: 0;
}

.img .active{
    width: 1.8em;
    height: 1.8em;
    transition: all 0.3s;
    margin: 0 5px;
}
.img .icon{
   width: 2.8em;
    height: 2.8em;
}
.colors {
    position: fixed;
    top: calc(60vh);
    right: 14px;
}

.colors>li {
    width: 20px;
    height: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    border-radius: 50%;
    transition: all 0.3s;
}

.colors>li.black {
    background: black;
}

.colors>li.blue {
    background: blue;
}

.colors>li.red {
    background: red;
}

.colors>li.green {
    background: green;
}

.colors>li.active,
.sizes>li.active {
    transform: scale(1.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.sizes {
    position: fixed;
    top: 95px;
    right: 25px;
}

.sizes>li {
    margin: 15px 0;
    transition: all 0.3s;
}

.sizes>li.thin {
    height: 0;
    width: 30px;
    border-top: 5px solid black;
}

.sizes>li.thick {
    height: 0;
    width: 30px;
    border-top: 10px solid black;
}